
	<div class="section-title col-md-12 mt-4">
	<h2 id="exozet-games"> <span><a href="/portfolio/exozet-games">Exozet-Games GmbH</a></span></h2>
	<p>
		As game developer at exozet i was part and later also leading the development of several games mostly targeted at kids and teenagers but also some prototypes for a more mature target.
	</p>
	</div>
	
	{% assign pages_list = site.categories.exozet-games %}
	{% for post in pages_list %}
		{% if post.title != null %}
			{% if group == null or group == post.group %}
				{% include featuredbox.html %}
			{% endif %}
		{% endif %}
	{% endfor %}
	{% assign pages_list = nil %}
	{% assign group = nil %}
