
	<div class="section-title col-md-12 mt-4">
	<h2 id="kunst-stoff"> <span class="text-capitalize"><a href="/portfolio/kunst-stoff">kunst-stoff</a></span></h2>
	<p>
		Kunst-Stoff was a independent agency and game studio and for me a quite special job for several reasons. Being at work often felt more like spending creative time with friends instead of working for a entity and while it has been pretty stressful at times Kunst-Stoff always had a quite high artistic expectation for all its own as well as customer projects which kept the work interesting. As Development Director I was heading the development of several projects and many of them also have been built with the <a href="/portfolio/orkitec/orkige-orkitec-game-engine">orkitec game engine</a>.
	</p>
	</div>
	{% assign pages_list = site.categories.kunst-stoff %}
	{% for post in pages_list %}
		{% if post.title != null %}
			{% if group == null or group == post.group %}
				{% include postbox.html %}
			{% endif %}
		{% endif %}
	{% endfor %}
	{% assign pages_list = nil %}
	{% assign group = nil %}
