
	<div class="section-title col-md-12 mt-4">
	<h2 id="kunst-stoff"> <span class="text-capitalize"><a href="/portfolio/kunst-stoff">kunst-stoff</a></span></h2>
	<p>
		Kunst-Stoff was a independent agency and game studio and for me a quite special one because working there always felt more like working with friends instead of just co-workers. Also kunst-stoff always had a quite high artistic expectations for all its projects no matter if it was own projects or works for customers. As Development Director I was heading the development of several projects and many of them also have been built with the <a href="/portfolio/orkitec/orkige-orkitec-game-engine">orkitec game engine</a>.
	</p>
	</div>
	{% assign pages_list = site.categories.kunst-stoff %}
	{% for post in pages_list %}
		{% if post.title != null %}
			{% if group == null or group == post.group %}
				{% include postbox.html %}
			{% endif %}
		{% endif %}
	{% endfor %}
	{% assign pages_list = nil %}
	{% assign group = nil %}
