
	<div class="section-title col-md-12 mt-4">
	<h2 id="mbaas-development"> <span><a href="/portfolio/mbaas-development">Mbaas-Development GmbH</a></span></h2>
	<p>
		The Mbaas Development GmbH has been founded by me (Steffen Römer) and Christian Stanke a friend of mine and former colleague at the <a href="/portfolio/kunst-stoff">Kunst-Stoff GmbH</a>. At first we wanted to build a game studio but quickly came to the concluion to build a mobile backend as a service platform wich we then did with <a href="/portfolio/mbaas-development/embraase">embraase</a> wich later evolved into the software localization platform <a href="/portfolio/mbaas-development/applanga">Applanga</a>. To bootstrap and finance the early devlopment before we got funding we also did 2 contract projects a periodic table app and a digital children book in unity. At the the end of 2018 we sold the Mbaas Development GmbH to <a href="https://www.transperfect.com" target="_blank">Transperfect</a> "the largest privately owned language services provider, with offices in over 100 cities worldwide" and I'm still leading Applanga's development as my main daily job.
	</p>
	</div>
	{% assign pages_list = site.categories.mbaas-development %}
	{% for post in pages_list %}
		{% if post.title != null %}
			{% if group == null or group == post.group %}
				{% include postbox.html %}
			{% endif %}
		{% endif %}
	{% endfor %}
	{% assign pages_list = nil %}
	{% assign group = nil %}
