
	<div class="section-title col-md-12 mt-4">
	<h2 id="orkitec"> <span class="text-capitalize"><a href="/portfolio/orkitec">orkitec</a></span></h2>
	<p>
		{% if page.url contains "/orkitec" %}
        Hi, I'm Steffen the founder of orkitec.
        {% endif %}
		The offical registeration of orkitec happened 2009 in Berlin because I needed a legal entity to release my first app in Apple App Store. In addition to that I also wanted to try to sell licenses for a <a href="/portfolio/orkitec/orkige-orkitec-game-engine">game engine</a> that I've already worked on for a few years as a hobby and learning project. Over the past 10+ years I released several games, apps and plugins as orkitec.
	</p>
	</div>
	{% assign pages_list = site.categories.orkitec %}
	{% for post in pages_list %}
		{% if post.title != null %}
			{% if group == null or group == post.group %}
				{% include postbox.html %}
			{% endif %}
		{% endif %}
	{% endfor %}
	{% assign pages_list = nil %}
	{% assign group = nil %}
