
	<div class="section-title col-md-12 mt-4">
	<h2 id="orkitec"> <span class="text-capitalize"><a href="/portfolio/orkitec">orkitec</a></span></h2>
	<p>
		Orkitec is a solo independent developer from Berlin founded by me (Steffen Römer) in 2009 around the same time that I've joined <a href="/portfolio/kunst-stoff">kunst-stoff</a>. It was offical registered because I wanted to release a game in the apple appstore and needed a legal entity for this. I also wanted to try to license my <a href="/portfolio/orkitec/orkige-orkitec-game-engine">game engine</a> that I've already worked on for a few years as a hobby and learning project for myself. Over the past 10+ years orkitec released several games, apps and plugins.
	</p>
	</div>
	{% assign pages_list = site.categories.orkitec %}
	{% for post in pages_list %}
		{% if post.title != null %}
			{% if group == null or group == post.group %}
				{% include postbox.html %}
			{% endif %}
		{% endif %}
	{% endfor %}
	{% assign pages_list = nil %}
	{% assign group = nil %}
