
	<div class="section-title col-md-12 mt-4">
	<h2 id="rocket-internet"> <span class="text-capitalize"><a href="/portfolio/rocket-internet">rocket-internet</a></span></h2>
	<p>
		Rocket Internet is a holding company and startup incubator based in Berlin. At the time I've joined, the company focused on building internet companies that already had a successful, international role model and brought them to germany and other parts of the world. I was hired as lead developer to build a generic reusable mobile shopping framework but in parallel I should also lead the mobile development for a recently started new <a href="/portfolio/rocket-internet/rocket-internet-payleven-mobile-payment">fintech company</a> which soon became my main job.
	</p>
	</div>
	{% assign pages_list = site.categories.rocket-internet %}
	{% for post in pages_list %}
		{% if post.title != null %}
			{% if group == null or group == post.group %}
				{% include featuredbox.html %}
			{% endif %}
		{% endif %}
	{% endfor %}
	{% assign pages_list = nil %}
	{% assign group = nil %}
