
	<div class="section-title col-md-12 mt-4">
	<h2 id="rocket-internet"> <span class="text-capitalize"><a href="/portfolio/rocket-internet">rocket-internet</a></span></h2>
	<p>
		Rocket Internet was mainly a company builder at the time I've joined there and they've be quite controversial since many of the companys they founded where copies of already succesful businesses in other parts of the world. I've joind as lead developer and was tasked with building a generic mobile shopping framework which they then could use in many of their apps. In  parralel I was also tasked with leading the mobile development for one of their new companies <a href="/portfolio/rocket-internet/rocket-internet-payleven-mobile-payment">a mobile payment solution for small stores</a> wich after a while became my main job.
	</p>
	</div>
	{% assign pages_list = site.categories.rocket-internet %}
	{% for post in pages_list %}
		{% if post.title != null %}
			{% if group == null or group == post.group %}
				{% include featuredbox.html %}
			{% endif %}
		{% endif %}
	{% endfor %}
	{% assign pages_list = nil %}
	{% assign group = nil %}
