
	<div class="section-title col-md-12 mt-4">
	<h2 id="rotobee"> <span class="text-capitalize"><a href="/portfolio/rotobee">rotobee</a></span></h2>
	<p>
		Rotobee was a small studio in Berlin with 2 released games at the time I've joined. I joined to write my thesis about an online multiplayer framework for their engine and parralel I also supported the development of their current game. Rotobee was the reason for me to move to Berlin and overall it was a great learning experience with a great team. Unfortunately Rotobee wen't bancrupt and did not release any game after <a href="/portfolio/rotobee/rotobee-kiss-before-midnight">Kiss Before Midnight</a>.
	</p>
	</div>
	{% assign pages_list = site.categories.rotobee %}
	{% for post in pages_list %}
		{% if post.title != null %}
			{% if group == null or group == post.group %}
				{% include featuredbox.html %}
			{% endif %}
		{% endif %}
	{% endfor %}
	{% assign pages_list = nil %}
	{% assign group = nil %}
